<!DOCTYPE html>
<body>
  <div class="container-fluid py-5">
    <p class="col-md-6 fs-3 ms-5">Bienvenue sur Eventbrite, créer des évènements de folies et rassemblez un max de monde.</p>
    <img class="justify-content-end"<%= image_tag("event.jpeg", :alt => "stars") %>>
    <h1 class="display-5 fw-bold">EVENTBRITE/thp</h1>
   
    <button class="btn btn-primary btn-lg justify-content-end" type="button">Créer Event</button>
  </div>
</body>